Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
astroid==1.4.8
click==6.6
coverage==4.2
isort==4.2.5
itsdangerous==0.24
lazy-object-proxy==1.2.2
mccabe==0.5.2
pylint==1.6.4
six==1.10.0
wrapt==1.10.8
requests==2.10.0
