<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>InterSWEllar</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/about.css">

	<script  src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script defer src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js'></script>
	<script defer src='../static/js/parallax.min.js'></script>
</head>

<body>
	{% include 'nav.html' %}

	<div class="table-title">
		ABOUT
	</div>

	<!-- parallax -->
	<div class="parallax-window-about centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://images-assets.nasa.gov/image/PIA03606/PIA03606~orig.jpg">

		<!-- description of the site, its purpose, its intended users  -->
		<div class="container-fluid inner">
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						DESCRIPTION
					</div>
					<p>
						The Interswellar database is designed to beautifully present details about the wonders of space while simplifying your search for related objects. Start with a constellation and learn about the group of stars that form its recognizable pattern. Travel faster than any star ship and explore the exoplanets that orbit those stars. After you're done visiting those planets, come back to Earth and learn about the scientists who discovered them. At Interswellar, you can have your very own space adventure and make it back in time before dinner!
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						PURPOSE
					</div>
					<p>
                        Planets and stars are big, but the space that they float in is even bigger. We wanted to create a database that would put together documented information about all that stuff in space and then make it interconnected for even easier navigation. We hope that this product would be as useful to the public as it was to us. It was a pleasure and an experience and we would like to share it with you!
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						INTENDED USERS
					</div>
					<p>
                        Interswellar may seem like a database meant for astronomers and scientists, but we know that there's a little curious astronaut in everyone who wants to more know about the things outside our known world. No matter who we are or what we study, we share the sky and our knowledge of it. This database is an open library for all users who seek to learn about the bright jewels of our sky.
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- team title -->
	<div class="section-title">
		SWEdish Fish - IDB 9
	</div>

	<!-- parallax -->
	<div class="parallax-window-team centered" data-parallax="scroll" data-speed = 0 data-bleed = 5 data-image-src="http://apod.nasa.gov/apod/image/1609/IoJupiter_Voyager1_21678.jpg">

		<!-- team info -->
		<div class="container-fluid inner team-info">
			<div class="col-md-12">
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Charlotte Sheng
							<img class="profile-pic" src="../../static/images/about_csheng.jpg">
						</div>
						<p>
							Actually, that's still true. I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards.
						</p>
						<p>
							Dick van dyke French café patron hulk hogan, hold steady keyboardist pencil luxurious French café patron hulk hogan Semi beard dick van dyke, smashing good fun dick van dyke Semi beard saddam hussein et louis xiii dick dastardly
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{charlotte_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{charlotte_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Sami Glasco
							<img class="profile-pic" src="../../static/images/about_sami.png">
						</div>
						<p>
							It's a fez. I wear a fez now. Fezes are cool. I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?
						</p>
						<p>
							Kale chips ugh craft beer four dollar toast, deep v neutra celiac synth. Lomo drinking vinegar meh, venmo woke godard gentrify meggings pour-over normcore fingerstache
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{sami_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{sami_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Denise Ly
							<img class="profile-pic" src="../../static/images/about_denisely.jpg">
						</div>
						<p>
							Denise is currently a senior studying Computer Science at The University of Texas at Austin \m/ In her spare time, she likes to play games, watch shows, and play piano. She is interested in front end development and wants to learn about game development.
						</p>
						<p>
							For this project, Denise was a part of the front-end team. She was tasked with helping to create the web pages, and writing the React logic to render components on the pages.
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{denise_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{denise_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Chenyang Wang
							<img class="profile-pic" src="/static/images/about_young.jpg">
						</div>
						<p>
							Young is a third year student studying computer science at UT Austin in the Turing Scholars Program. He enjoys setting up infrastructure and writing backend code. He also enjoys gaming, listening to podcasts, and working on side projects in his free time.
						</p>
						<p>
							Young is the primary Ops person for the team, working primarily with AWS infrastructure, continuous integration and deployment, and release engineering. He also works on the backend data management and APIs.
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{young_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{young_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							David Shi
							<img class="profile-pic" src="/static/images/about_dshi.jpg">
						</div>
						<p>
							David Shi is a senior studying computer science at The University of Texas at Austin. Although he hasn't chosen a specialty to study, he has found interest in working in systems management and security. David Shi currently works on the Cloud Systems Management team at IBM stationed in Austin.
						</p>
						<p>
							As part of the back-end team, David Shi worked on setting up the database and helped design tests for it. David Shi was also tasked with writing small excerpts, like the ones you see on the 'About' page.
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{david_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{david_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Nathan Poag
							<img class="profile-pic" src="http://avatarfiles.alphacoders.com/543/54320.jpg">
						</div>
						<p>
							There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor. There's so many poorly chosen words in that sentence. No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide.
						</p>
						<p>
							Thunder, thunder, thundercats, Ho! Thundercats are on the move, Thundercats are loose. Feel the magic, hear the roar, Thundercats are loose. Thunder, thunder, thunder, Thundercats!
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{nathan_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{nathan_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-title">
	STATISTICS
</div>

<!-- parallax -->
<div class="parallax-window-stats centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://apod.nasa.gov/apod/image/1610/M45_vonEiff_1600.jpg">

	<!-- Statistics -->
	<div class="container-fluid inner">
		<div class="row">
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						COMMITS
					</div>
					<p>
						83 + link to commits goes here wow amazing
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						ISSUES
					</div>
					<p>
						7		 + i wonder if we can embed stuff in here so it's all fancy
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						UNIT TESTS
					</div>
					<p>
						4  + idk yo
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						APIARY API
					</div>
					<p>
						stuff for docs
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						GITHUB REPO
					</div>
					<p>
						just another link
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						WIKI
					</div>
					<p>
						link here????
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-title">
	DATA
</div>

<!-- parallax -->
<div class="parallax-window-stats centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://apod.nasa.gov/apod/image/1609/Helix_SpitzerSchmidt_4655.jpg">

	<!-- API data -->
	<div class="container-fluid inner">
		<div class="row">
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						COMMITS
					</div>
					<p>
						83 + link to commits goes here wow amazing
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						ISSUES
					</div>
					<p>
						7		 + i wonder if we can embed stuff in here so it's all fancy
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						UNIT TESTS
					</div>
					<p>
						4  + idk yo
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-title">
	COLOPHON
</div>

<!-- parallax -->
<div class="parallax-window-tools centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://apod.nasa.gov/apod/image/1609/M51Deep_Perez_2637.jpg">

	<!-- Tools list -->
	<div class="container-fluid inner">
		<div class="row">
			<div class="col-md-12 buffer">
				<div class="about">
					<div class="header">
						BUILT WITH
					</div>
					<p>
						love
					</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
