<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>InterSWEllar</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/about.css">

	<script  src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script defer src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js'></script>
	<script defer src='../static/js/parallax.min.js'></script>
</head>

<body>
	{% include 'nav.html' %}

	<div class="table-title">
		ABOUT
	</div>

	<!-- parallax -->
	<div class="parallax-window-about centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://images-assets.nasa.gov/image/PIA03606/PIA03606~orig.jpg">

		<!-- description of the site, its purpose, its intended users  -->
		<div class="container-fluid inner">
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						DESCRIPTION
					</div>
					<p>
						The Interswellar database is designed to beautifully present details about the wonders of space while simplifying your search for related objects. Start with a constellation and learn about the group of stars that form its recognizable pattern. Travel faster than any star ship and explore the exoplanets that orbit those stars. After you're done visiting those planets, come back to Earth and learn about the scientists who discovered them. At Interswellar, you can have your very own space adventure and make it back in time before dinner!
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						PURPOSE
					</div>
					<p>
                        Planets and stars are big, but the space that they float in is even bigger. We wanted to create a database that would put together documented information about all that stuff in space and then make it interconnected for even easier navigation. We hope that this product would be as useful to the public as it was to us. It was a pleasure and an experience and we would like to share it with you!
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						INTENDED USERS
					</div>
					<p>
                        Interswellar may seem like a database meant for astronomers and scientists, but we know that there's a little curious astronaut in everyone who wants to more know about the things outside our known world. No matter who we are or what we study, we share the sky and our knowledge of it. This database is an open library for all users who seek to learn about the bright jewels of our sky.
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- team title -->
	<div class="section-title">
		SWEdish Fish - IDB 9
	</div>

	<!-- parallax -->
	<div class="parallax-window-team centered" data-parallax="scroll" data-speed = 0 data-bleed = 5 data-image-src="http://apod.nasa.gov/apod/image/1609/IoJupiter_Voyager1_21678.jpg">

		<!-- team info -->
		<div class="container-fluid inner team-info">
			<div class="col-md-12">
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Charlotte Sheng
							<img class="profile-pic" src="../../static/images/about_csheng.jpg">
						</div>
						<p>
							Charlotte Sheng is a senior studying computer science at the University of Texas at Austin. She enjoys the outdoors and likes to spend her hours outside being active if the weather is nice. Charlotte has interests in data, security, and is currently exploring other fields to better gauge where she wants to end up in the future.
						</p>
						<p>
							As part of the front-end team, Charlotte helped find additional pieces of data points that could be connected. She also created the UML diagram and updated portions of the Wiki.
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{charlotte_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{charlotte_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								0
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Sami Glasco
							<img class="profile-pic" src="../../static/images/about_sami.png">
						</div>
						<p>
							Sami Glasco is a senior studying computer science at the University of Texas at Austin. He acts as a treasurer in both the Harry Potter Alliance and Texas Table Top. In his free time, Sami enjoys playing quidditch and pretending he's a wizard, too. Sami enjoys front-end development and participating in hackathons in his free time.
						</p>
						<p>
							Sami worked on the front-end team. He created the base web page, the navigation semantics, and is responsible for the site aesthetics.
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{sami_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{sami_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								6
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Denise Ly
							<img class="profile-pic" src="../../static/images/about_denisely.jpg">
						</div>
						<p>
							Denise is currently a senior studying Computer Science at The University of Texas at Austin \m/ In her spare time, she likes to play games, watch shows, and play piano. She is interested in front end development and wants to learn about game development.
						</p>
						<p>
							For this project, Denise was a part of the front-end team. She was tasked with helping to create the web pages, and writing the React logic to render components on the pages.
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{denise_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{denise_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								0
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Chenyang Wang
							<img class="profile-pic" src="/static/images/about_young.jpg">
						</div>
						<p>
							Young is a third year student studying computer science at UT Austin in the Turing Scholars Program. He enjoys setting up infrastructure and writing backend code. He also enjoys gaming, listening to podcasts, and working on side projects in his free time.
						</p>
						<p>
							Young is the primary Ops person for the team, working primarily with AWS infrastructure, continuous integration and deployment, and release engineering. He also works on the backend data management and APIs.
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{young_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{young_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								5
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							David Shi
							<img class="profile-pic" src="/static/images/about_dshi.jpg">
						</div>
						<p>
							David Shi is a senior studying computer science at The University of Texas at Austin. Although he hasn't chosen a specialty to study, he has found interest in working in systems management and security. David Shi currently works on the Cloud Systems Management team at IBM stationed in Austin.
						</p>
						<p>
							As part of the back-end team, David Shi worked on setting up the database and helped design tests for it. David Shi was also tasked with writing small excerpts, like the ones you see on the 'About' page.
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{david_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{david_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								25
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Nathan Poag
							<img class="profile-pic" src="/static/images/about_npoag.jpg">
						</div>
						<p>
							Nathan is a fourth year computer science major at UT Austin. Right now he currently has an interest in full stack development due to a desire to be well-rounded in all areas of web development. He prefers to use React for the front end due to its ability to keep track of the webpage's state. In the future, Nathan hopes to use the React skills he has gained in order to use React Native for the front end of any future mobile apps he builds.
						</p>
						<p>
							Nathan has mainly been working on the back-end during this phase, but was not afraid to touch the front-end at times.
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{nathan_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{nathan_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								4
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-title">
	STATISTICS
</div>

<!-- parallax -->
<div class="parallax-window-stats centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://apod.nasa.gov/apod/image/1610/M45_vonEiff_1600.jpg">

	<!-- Statistics -->
	<div class="container-fluid inner">
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="data-header">
						COMMITS
					</div>
					<p>
						{{total_commits}}
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="data-header">
						ISSUES
					</div>
					<p>
						{{total_issues}}
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="data-header">
						UNIT TESTS
					</div>
					<p>
						40
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="data-header">
						APIARY API
					</div>
					<p>
						<a href= "http://docs.interswellarapi.apiary.io/#">Apiary Link</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="data-header">
						GITHUB REPO
					</div>
					<p>
						<a href="https://github.com/cs373gc-fall-2016/interswellar">Github Link</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="data-header">
						WIKI
					</div>
					<p>
						<a href="https://github.com/cs373gc-fall-2016/interswellar/wiki">Wiki Link</a>
					</p>
				</div>
			</div>
	</div>
</div>

<div class="section-title">
	DATA
</div>

<!-- parallax -->
<div class="parallax-window-stats centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://apod.nasa.gov/apod/image/1609/Helix_SpitzerSchmidt_4655.jpg">

	<!-- API data -->
	<div class="container-fluid inner">
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="data-header">
						Wikipedia
					</div>
					<p>
						<a href="https://en.wikipedia.org/wiki/Special:ApiSandbox">Wikipedia Link</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="data-header">
						Harvard
					</div>
					<p>
						<a href="http://adsabs.harvard.edu/abstract_service.html">Harvard Link</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="data-header">
						Exoplanet Archive
					</div>
					<p>
						<a href="http://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html">Exoplanet Archive</a>
					</p>
				</div>
			</div>
	</div>
</div>

<div class="section-title">
	COLOPHON
</div>

<!-- parallax -->
<div class="parallax-window-tools centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://apod.nasa.gov/apod/image/1609/M51Deep_Perez_2637.jpg">

	<!-- Tools list -->
	<div class="container-fluid inner">
			<div class="col-md-12 buffer">
				<div class="about">
					<div class="data-header">
						BUILT WITH
					</div>
					<p>
						<b>jQuery:</b> Parallax and navbar and Javascript stuff
						<br>
						<b>Bootstrap:</b> CSS styles, tables
						<br>
						<b>React:</b> Generating table
						<br>
						<b>Carousel:</b> Frontpage
						<br>
						<b>SQLAlchemy:</b> Database ORM
						<br>
						<b>Flask:</b> Backend web framework
						<br>
						<b>Elastic Beanstalk:</b> Hosting and deployment
					</p>
				</div>
			</div>
	</div>

</body>
</html>
