<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>InterSWEllar</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/about.css">


	<script  src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script defer src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js'></script>
	<script defer src='../static/js/parallax.min.js'></script>

</head>

<body>
	{% include 'nav.html' %}


	<div class="section-title">
		ABOUT
	</div>

	<!-- ~~~parallax~~~ -->
	<div class="parallax-window-about centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://images-assets.nasa.gov/image/PIA03606/PIA03606~orig.jpg">

		<!-- description of the site, its purpose, its intended users  -->
		<div class="container-fluid inner">
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						DESCRIPTION
					</div>
					<p>
						Actually, that's still true. I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards.
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						PURPOSE
					</div>
					<p>
						It's a fez. I wear a fez now. Fezes are cool. I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?			
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						INTENDED USERS
					</div>
					<p>
						There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor. There's so many poorly chosen words in that sentence. No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section-title">
		SWEdish Fish - IDB 9
	</div>

	<!-- ~~~parallax~~~ -->
	<div class="parallax-window-team centered" data-parallax="scroll" data-speed = 0 data-bleed = 5 data-image-src="http://apod.nasa.gov/apod/image/1609/IoJupiter_Voyager1_21678.jpg">

		<div class="container-fluid inner">
			<div class="col-md-12"> 
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Charlotte Sheng
							<img class="profile-pic" src="http://avatarfiles.alphacoders.com/454/45479.jpg">
						</div>
						<p>
							Actually, that's still true. I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards.
						</p>
						<p>
							Dick van dyke French café patron hulk hogan, hold steady keyboardist pencil luxurious French café patron hulk hogan Semi beard dick van dyke, smashing good fun dick van dyke Semi beard saddam hussein et louis xiii dick dastardly
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{charlotte_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{charlotte_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>						
						</div>
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Sami Glasco
							<img class="profile-pic" src="http://avatarfiles.alphacoders.com/452/45266.jpg">
						</div>
						<p>
							It's a fez. I wear a fez now. Fezes are cool. I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?			
						</p>
						<p>
							Kale chips ugh craft beer four dollar toast, deep v neutra celiac synth. Lomo drinking vinegar meh, venmo woke godard gentrify meggings pour-over normcore fingerstache
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{sami_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{sami_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>						
						</div>
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Denise Ly
							<img class="profile-pic" src="http://avatarfiles.alphacoders.com/532/53258.jpg">
						</div>
						<p>
							There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor. There's so many poorly chosen words in that sentence. No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide.
						</p>

						<p>
							Naff jolly good naff guinness nicked Sherlock, in the jacksy fork out yorkshire pudding rambunctious. Posh nosh scarper tallywhacker and we all
						</p>						
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{denise_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{denise_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>						
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12"> 
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Chenyang Wang
							<img class="profile-pic" src="http://avatarfiles.alphacoders.com/592/59266.jpg">
						</div>
						<p>
							There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor. There's so many poorly chosen words in that sentence. No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide.
						</p>

						<p>
							Cottage pie sausage roll hedgehog the fuzz copper chav beefeater absobloodylootely narky on the beat, hedgehog terribly chav in the
						</p>						
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{young_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{young_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>						
						</div>					
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							David Shi
							<img class="profile-pic" src="http://avatarfiles.alphacoders.com/457/45786.jpg">
						</div>
						<p>
							There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor. There's so many poorly chosen words in that sentence. No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide.
						</p>
						<p>
							Up at the crack of dawn round our gaff copper absobloodylootely lug hole one feels that real ale ponce bobby her Majesty's pleasure, on his bill pants
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{david_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{david_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>						
						</div>					
					</div>
				</div>
				<div class="col-md-4 buffer">
					<div class="about">
						<div class="header">
							Nathan Poag
							<img class="profile-pic" src="http://avatarfiles.alphacoders.com/543/54320.jpg">
						</div>
						<p>
							There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor. There's so many poorly chosen words in that sentence. No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide.
						</p>
						<p>
							Thunder, thunder, thundercats, Ho! Thundercats are on the move, Thundercats are loose. Feel the magic, hear the roar, Thundercats are loose. Thunder, thunder, thunder, Thundercats!
						</p>
						<div class="row">
							<div class="col-md-4">
								<b>Commits:</b></br>
								{{nathan_commits}}
							</div>
							<div class="col-md-4">
								<b>Issues:</b></br>
								{{nathan_issues}}
							</div>
							<div class="col-md-4">
								<b>Unit Tests:</b></br>
								-8
							</div>						
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-title">
	STATISTICS
</div>

<!-- ~~~parallax~~~ -->
<div class="parallax-window-stats centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://apod.nasa.gov/apod/image/1610/M45_vonEiff_1600.jpg">

	<div class="container-fluid inner">
		<div class="row">
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						COMMITS
					</div>
					<p>
						83 + link to commits goes here wow amazing
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						ISSUES
					</div>
					<p>
						7		 + i wonder if we can embed stuff in here so it's all fancy	
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						UNIT TESTS
					</div>
					<p>
						4  + idk yo
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						APIARY API
					</div>
					<p>
						stuff for docs
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						GITHUB REPO
					</div>
					<p>
						just another link	
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						WIKI
					</div>
					<p>
						link here????
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-title">
	DATA
</div>

<!-- ~~~parallax~~~ -->
<div class="parallax-window-stats centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://apod.nasa.gov/apod/image/1609/Helix_SpitzerSchmidt_4655.jpg">
	<div class="container-fluid inner">
		<div class="row">
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						COMMITS
					</div>
					<p>
						83 + link to commits goes here wow amazing
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						ISSUES
					</div>
					<p>
						7		 + i wonder if we can embed stuff in here so it's all fancy	
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						UNIT TESTS
					</div>
					<p>
						4  + idk yo
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-title">
	COLOPHON
</div>

<!-- ~~~parallax~~~ -->
<div class="parallax-window-tools centered" data-parallax="scroll" data-bleed = 5 data-speed = 0 data-image-src="http://apod.nasa.gov/apod/image/1609/M51Deep_Perez_2637.jpg">
<div class="container-fluid inner">
		<div class="row">
			<div class="col-md-12 buffer">
				<div class="about">
					<div class="header">
						BUILT WITH
					</div>
					<p>
						love
					</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
