<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>InterSWEllar</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>


	<script defer src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js'></script>

	<!-- Data tables -->
	<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />

	<link href="https://cdn.datatables.net/colreorder/1.3.2/css/colReorder.dataTables.min.css" />
	<link href="https://cdn.datatables.net/colreorder/1.3.2/js/dataTables.colReorder.min.js" />

	<!-- React -->
	<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
	<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
	<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	<script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
	<script src="https://unpkg.com/remarkable@1.7.1/dist/remarkable.min.js"></script>

	<!-- Data tables -->
	<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
	<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>

	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/tables.css">
</head>

<body>
	{% include 'nav.html' %}

	<div class="table-title">
		{{title}}
	</div>
<!-- 	<div class="col-md-12">
		<div id="content" ></div>
	</div> -->

	<div class='container-fluid tabletron'>
		<div class="col-md-12 title-box">
			<div class="col-md-12">
				<div id="content" ></div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
	$(document).ready(function() {
		var table = $('#example').DataTable({
			"ordering": false,
			"bFilter": false,
			"bLengthChange": false,
			"scrollX": true,
			"sDom": '<"row view-filter"<"col-sm-12"<"pull-left"l><"pull-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',

		});
		// new $.fn.dataTable.Responsive( table, {
		// 	details: true
		// } );

	});
	</script>

	<!-- React -->
	<script type="text/babel">

    jQuery.extend({
	    getValues: function(url) {
	        var result = null;
	        $.ajax({
	            url: window.location.href.split('/')[0] + "/api/v1/constellations?page=1",
	            type: 'get',
	            dataType: 'json',
	            async: false,
	            success: function(data) {
	                result = data;
	            }
	        });
	       return result;
	    }
	});

	var colNames = ['ID', 'Abbrev', 'Name', 'Family', 'Meaning', 'Area', 'Stars'];

	function ConcatObjs(result, value){
		if (Array.isArray(value)) return null;
		for (var key in value){
			if (key == "name" || key == "ref" || key == "abbrev"){
				result = value[key] + "\n";
			}
		}

		return result;
	}

	var ListInCell = React.createClass({
		render: function(){
			var countArrays = this.props.countArrays;
			var result = "";
			var vals = this.props.listValues.map(function(val){ // this.props.listValues is an array of Objects
				return result = ConcatObjs(result, val);
			});
			return <td>{vals}</td>;
		}
	});

	var RowCells = React.createClass({
		render: function(){
			var data = this.props.rowValues;
			var val = colNames.map(function(key){
				console.log(data[key]);
				key = key.toLowerCase();
				var result = "";
				if (data[key] == null){
					return <td>Unknown</td>;
				}
				if (Array.isArray(data[key])){
					if (data[key].length == 0){
						return <td>None</td>;
					}
					return (
						<ListInCell listValues={data[key]} />
					);
				} else if (data[key] === Object(data[key])){
					result = ConcatObjs("", data[key]);
					return <td>{result}</td>
				} else {
					if(key == "id"){
						// console.log(data[key]);
						var url = window.location.href + "/" + data[key];
						return <td><a href={url}>{data[key]}</a></td>;
					}
					return <td>{data[key]}</td>;
				}
			});

			return (
				<tr>{val}</tr>
			);
		}
	});

	var RowList = React.createClass({
		render: function() {
			// console.log(this.props.rowList);
			var rowEntries = this.props.rowList.objects.map(function(row) {
				// console.log(row);
				return (
					<RowCells rowValues={row} />
				);
			});
			return (
				<tbody>
					{rowEntries}
				</tbody>
			);
		}
	});


	var Table = React.createClass({
		render: function() {
			var data = $.getValues("http://www.interswellar.me/api/v1/constellations?page=1");
			// console.log(data);
			var columns = colNames.map(function(col){
				return (
					<th>{col}</th>
				);
			});

			return (
				<div>
					<table id="example" className="table">
						<thead>
							<tr>
								{columns}
							</tr>
						</thead>
					<RowList rowList={data}/>

					</table>
				</div>
			);
		}
	});

	ReactDOM.render(
		<Table/>,
		document.getElementById('content')
		);
	</script>

	<style>
	html {
		background: url({{bg_url}}) no-repeat center center fixed;
	}
	</style>

</div>
</body>


