<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>InterSWEllar</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/details.css">

    <link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />

    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>

    <script defer src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script defer src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js'></script>
</head>

<body>
    {% include 'nav.html' %}

    <div class="table-title">
        {{data.name}}
    </div>

    <div class="container-fluid inner">
        <div  id="data" class='col-md-6 col-lg-6 buffer'>
            <div class='about'>
                <div class='header'>
                    DATA
                </div>
                <div class = "data-left">
                    ABBREVIATION
                </div>
                <div class = "data-right">
                    {{data.abbrev}}
                </div>
                <br>
                <div style="clear: both;"></div>
                <div class = "data-left">
                    MEANING
                </div>
                <div class = "data-right">
                    {{data.meaning}}
                </div>
                <br>
                <div style="clear: both;"></div>
                <div class = "data-left">
                    FAMILY
                </div>
                <div class = "data-right">
                    {{data.family}}
                </div>
                <br>
                <div style="clear: both;"></div>
                <div class = "data-left">
                    AREA
                </div>
                <div class = "data-right">
                    {{data.area}}
                </div>
                <div style="clear: both;"></div>
                <div class = "data-left">
                    IMAGE
                </div>
                <div style="clear: both;"></div>
                <div style="text-align: center;">

                    <img class="img-fluid" style="max-width:70%;" src='http://www.iau.org/static/public/constellations/gif/{{data.abbrev.upper()}}.gif' />
                </div>
            </div>
        </div>

        <div class='col-md-6 col-lg-6 buffer'>
            <div class='about'>
                <div class='header'>
                    STAR CHART
                </div>
                <div id="aladin-lite-div" style="width:auto;height:450px;"></div>
                <script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
                <script type="text/javascript">
                var height = $("#data").height() - 108;
                $("#aladin-lite-div").css("height", height);
                window.onresize = function() {
                    var height = $("#data").height() - 108;
                    $("#aladin-lite-div").css("height", height);
                }
                window.onload = function() {
                    var height = $("#data").height() - 108;
                    $("#aladin-lite-div").css("height", height);
                    var aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:10, target: "{{data.name}}"});
                }

                </script>
            </div>
        </div>

        <div class='col-sm-12 col-lg-8 col-lg-offset-2 buffer'>
            <div class='about'>
                <div class='header'>
                    STARS
                </div>
                <ul>
                    {% if data.stars %}
                    {% if data.stars|length > 10 %}
                    <div class="no-link">
                        {% for s in data.stars %}
                        <a class= 'link-list' href="/stars/{{s.id}}">{{s.name}}</a>
                        {% endfor %}   
                    </div>

                    {% else %}
                    {% for s in data.stars %}
                    <li>
                        <div class= 'link'>
                            <a href="/stars/{{s.id}}"> {{s.name}}</a>
                        </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% else %}
                    <div class='no-link'>
                        No Stars
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>


    </div>

    <style>
    html {
        background: url(/static/images/constellation-detail.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    </style>

</body>
</html>