<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>InterSWEllar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../static/css/index.css">

    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue_grey-indigo.min.css" />  

    <script defer src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script defer src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script defer src="../static/js/carousel.js"></script>
</head>

<body>
    <div class='container jumbotron'>
        <div class="col-md-12 title-box">
            <span class='title'>
                INTERSWELLAR
            </span>
        </div>
        <div class="col-md-3">
            <a href="/stars" class="btn btn-block">stars</a>
        </div>
        <div class="col-md-3">
            <a href="/exoplanets" class="btn btn-block">exoplanets</a>
        </div>
        <div class="col-md-3">
            <a href="/constellations" class="btn btn-block">constellations</a>
        </div>
        <div class="col-md-3">
            <a href="/publications" class="btn btn-block">publications</a>
        </div>
        <div class="col-md-12"> </br> </div>
        <div class="col-md-offset-5 col-md-2">
            <a href="/about" class="btn btn-block">About</a>
        </div>
    </div>

    <div id="mycarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators" style="display:none">
            <li data-target="#mycarousel" data-slide-to="0"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
            <li data-target="#mycarousel" data-slide-to="4"></li>
        </ol>

        <!-- We should host these images somewhere that isn't NASA's site -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img src="http://images-assets.nasa.gov/image/PIA01492/PIA01492~orig.jpg" data-color="black" alt="First Image">
            </div>
            <div class="item">
                <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/crop_p_color2_enhanced_release_small.png" data-color="black" alt="Second Image">
            </div>
            <div class="item">
                <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/pia20461.jpg" data-color="black" alt="Third Image">
            </div>
            <div class="item">
                <img src="http://images-assets.nasa.gov/image/PIA19821/PIA19821~orig.jpg" data-color="black" alt="Fourth Image">
            </div>
            <div class="item">
                <img src="http://images-assets.nasa.gov/image/PIA01384/PIA01384~orig.jpg" data-color="black" alt="Fifth Image">
            </div>
        </div>
    </div>

</body>
</html>
