<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand no-ul" href="/">INTERSWELLAR</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="col-sm-6 col-md-6">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div>
			<ul id="nav" class="nav navbar-nav navbar-right">
				<li id="stars_li"><a class="no-ul" id="stars" href="/stars">STARS</a></li>
				<li id="exoplanets_li"><a class="no-ul" id="exoplanets" href="/exoplanets">EXOPLANETS</a></li>
				<li id="constellations_li"><a class="no-ul" id="constellations" href="/constellations">CONSTELLATIONS</a></li>
				<li id="publications_li"><a class="no-ul" id="publications" href="/publications">PUBLICATIONS</a></li>
				<li id="about_li"><a class="no-ul" id="about" href="/about">ABOUT</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<script type="text/javascript">
// change nav bar active
$(function() {
	$('#'+location.pathname.split("/")[1]+'_li','#nav').addClass('active');
	if (location.pathname.split("/").length == 2) {
		$('#'+location.pathname.split("/")[1],'#nav').attr("href", "#");
	};
	$('#'+location.pathname.split("/")[1],'#nav').addClass('nav-link');
});
</script>
