<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>InterSWEllar</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/details.css">

    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>

    <script defer src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script defer src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js'></script>
</head>

<body>
    {% include 'nav.html' %}

    <div class="table-title">
        {% if data.title %}
        {{data.title}}
        {% else %}
        Untitled
        {% endif %}
    </div>

    <div id="data" class="container-fluid inner">
        <div class='col-sm-6 col-lg-6 buffer'>
            <div class='about'>
                <div class='header'>
                    DATA
                </div>
                <div class = "data-left">
                    REF
                </div>
                <div class = "data-right">
                    {% if data.ref %}
                    {{data.ref}}
                    {% else %}
                    Unknown
                    {% endif %}
                </div>
                <br>
                <div style="clear: both;"></div>
                <div class = "data-left">
                    JOURNAL
                </div>
                <div class = "data-right">
                    {% if data.journal %}
                    {{data.journal}}
                    {% else %}
                    Unknown
                    {% endif %}
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class='col-sm-6 col-lg-6 buffer'>
            <div class='about'>
                <div class='header'>
                    STARS
                </div>
                <ul>
                    {% if data.stars %}
                    {% if data.stars|length > 10 %}
                    <div class="no-link">
                    {% for s in data.stars %}
                        <a class= 'link-list' href="/stars/{{s.id}}" style = "color:white">{{s.name}}</a>
                    {% endfor %}   
                    </div>

                    {% else %}
                    {% for s in data.stars %}
                    <li>
                        <div class= 'link'>
                            <a href="/stars/{{s.id}}" style = "color:white"> {{s.name}}</a>
                        </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% else %}
                    <div class='no-link'>
                        No Stars
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="clearfix visible-md visible-sm visible-lg"></div>

        <div class='col-sm-6 col-lg-6 buffer'>
            <div class='about'>
                <div class='header'>
                    AUTHORS
                </div>
                {% if data.authors %}
                <div id='authors' class='no-link'></div>
                <script>
                var authors = "{{data.authors}}"
                authors = authors.replace(/(; )+/g, "<br>");
                $('#authors').html(authors);
                </script>
                {% else %}
                <div class = 'no-link'>
                    Unknown
                </div>
                {% endif %}
            </div>
        </div>

        <div class='col-sm-6 col-lg-6 buffer'>
            <div class='about'>
                <div class='header'>
                    ABSTRACT
                </div>
                <div class='abstract'>
                    {% if data.abstract %}
                    {{data.abstract}}
                    {% else %}
                    Unknown
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <style>
    html {
        background: url(http://wallpapercave.com/wp/x4Uozud.jpg) no-repeat center center fixed;
    }
    </style>

</body>
</html>