<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>InterSWEllar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/instance.css">


	<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
	<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
	<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	<script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
	<script src="https://unpkg.com/remarkable@1.7.1/dist/remarkable.min.js"></script>

    <script defer src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script defer src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js'></script>
</head>

<body>
	{% include 'nav.html' %}

	<script type="text/javascript">

		var data = {{data|tojson}};
		console.log(data);

		$('#name').text(data.name);
		$('#mass').text(data.mass);
		$('#radius').text(data.radius);
		$('#luminosity').text(data.luminosity);
		$('#temperature').text(data.temperature);
		$('#discovered_by').text(data.discovered_by);
		//$('#planets').text(data.planets);
		$('#constellation').text(data.constellation);
	</script>

	<div class="section-title">
		{{data.name}}
	</div>

	<div class="container-fluid centered">

			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						RADIUS
					</div>
					<p>
						{{data.radius}}
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						MASS
					</div>
					<p>
						{{data.mass}}
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						LUMINOSITY
					</div>
					<p>
						{{data.luminosity}}
					</p>
				</div>
			</div>


			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						TEMPERATURE
					</div>
					<p>
						{{data.temperature}}
					</p>
				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						PLANETS
					</div>
					<!-- <p>
						link here????
					</p> -->

					<ul style="list-style: none;">
						{% for planet in data.planets %}
							<li>{{planet}}</li>
						{% endfor %}
					</ul>

				</div>
			</div>
			<div class="col-md-4 buffer">
				<div class="about">
					<div class="header">
						DISCOVERED BY
					</div>
					<p>
						{{data.discovered_by}}
					</p>
				</div>
			</div>

	</div>
	</div>




</body>

</html>