<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>InterSWEllar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/details.css">

    <link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />

    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>

    <script defer src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script defer src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js'></script>
</head>

<body>
    {% include 'nav.html' %}

    <div class="table-title">
        {{data.name}}
    </div>

    <div id="data" class="container-fluid inner">
        <div class='col-sm-6 col-lg-4 buffer'>
            <div class='about'>
                <div class='header'>
                    DATA
                </div>
                <div class = "data-left">
                    MASS
                </div>
                <div class = "data-right">
                    {% if data.mass %}
                    {{data.mass}} M<sub>☉</sub>
                    {% else %}
                    Unknown
                    {% endif %}
                </div>
                <br>
                <div style="clear: both;"></div>
                <div class = "data-left">
                    LUMINOSITY
                </div>
                <div class = "data-right">
                    {% if data.luminosity %}
                    {{data.luminosity}}
                    {% else %}
                    Unknown
                    {% endif %}
                </div>
                <br>
                <div style="clear: both;"></div>
                <div class = "data-left">
                    RADIUS
                </div>
                <div class = "data-right">
                    {% if data.radius %}
                    {{data.radius}} R<sub>☉</sub>
                    {% else %}
                    Unknown
                    {% endif %}
                </div>
                <br>
                <div style="clear: both;"></div>
                <div class = "data-left">
                    TEMPERATURE
                </div>
                <div class = "data-right">
                    {% if data.temperature %}
                    {{data.temperature}} K
                    {% else %}
                    Unknown
                    {% endif %}
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class='col-sm-6 col-lg-4 buffer'>
            <div class='about'>
                <div class='header'>
                    EXOPLANETS
                </div>
                {% if data.exoplanets %}
                <ul>
                    {% for ep in data.exoplanets %}
                    <li>
                        <div class = 'link'>
                            <a href="/exoplanets/{{ep.id}}" style = "color:white"> {{ep.name}}</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <div class = 'no-link'>
                    No Exoplanets
                </div>                
                {% endif %}
            </div>
        </div>

        <div class="clearfix visible-md visible-sm"></div>

        <div class='col-sm-6 col-lg-4 buffer'>
            <div class='about'>
                <div class='header'>
                    CONSTELLATION
                </div>
                {% if data.constellation %}
                <div class = 'link'>
                    <a href="/constellations/{{data.constellation.id}}" style = "color:white">{{data.constellation.name}}</a>
                </div>
                {% else %}
                <div class = 'no-link'>
                    Unknown
                </div>
                {% endif %}
            </div>
        </div>

        <div class='col-sm-6 col-lg-4 buffer'>
            <div class='about'>
                <div class='header'>
                    DISCOVERED BY
                </div>
                {% if data.discovered_by.ref %}
                <div class = 'link'>
                    <a href="/publications/{{data.discovered_by.id}}" style = "color:white">{{data.discovered_by.ref}}</a>
                </div>
                {% else %}
                <div class = 'no-link'>
                    No Publication
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class='col-sm-12 col-lg-12 buffer'>
                <div class='about'>
                    <div class='header'>
                        IMAGE
                    </div>
                    <div id="aladin-lite-div" style="width:auto;height:450px;"></div>
                    <script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
                    <script type="text/javascript">
                    var aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:1, target: "{{data.name}}"});
                    </script>
                </div>
            </div>
        </div>
    </div>


    <style>
    html {
        background: url(http://wallpapercave.com/wp/x4Uozud.jpg) no-repeat center center fixed;
    }
    </style>

</body>
</html>