html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-size: 150%;
    color: #fff;
}

.custom-table {
    position: relative;
    justify-content: center;
    color: white;
    margin: 0 auto;
    width: 70%;
}

.table {
    color : #FFF;
}

th { 
    text-transform: uppercase; 
    text-align: center;
    text-indent: 20px;
}

.col-md-12 {
    padding-right: -15px;
}

div.dataTables_paginate {
    text-align: center;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #000;
    border-color: #fff;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.table-title {
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 500;
    font-size: 6vw;
    color: #FFF;
    padding: 20px;
    background-color: black;
}

@media all and (min-width: 767px) {
    .table-title{
        font-size: 3vw;
    }
}

.tabletron {
    background-color:rgba(0, 0, 0, .7);
    position: absolute;
    text-align:center;
    left: 0;
    right: 0;
    z-index: 5;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 0px;
    box-shadow: 0 0 0px #444;
    box-sizing: content-box;
    text-align: center;
    font-family: "helvetica", sans-serif;
    line-height: 14px;
    content: '+';
    background-color: #000;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: '-';
    background-color: #000;
}